<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="botToken" value="/*secret bot key*/" />
    <add key="mysqlConnector" value="server=localhost;uid=DezareD;pwd=N1vs1nq12;database=telegramBot_test;Allow User Variables=true" />
    <add key="botPart" value="part1" />
  </appSettings>
</configuration>
